doctype html
html
  head
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.1/css/all.css", integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp", crossorigin="anonymous")
    title #{pageTitle} | #{siteName}
    link(rel="stylesheet", href="/build/css/styles.css")
    meta(http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline' 'unsafe-eval' http://cdnjs.cloudflare.com ")
  body
    include ../partials/header
    main
      block content
    include ../partials/footer
    script(src="/build/js/main.js", type="module")